/**
 * Theme Name:  Munchkin Maestro
 * Theme URI:   https://github.com/thremes/munchkin-maestro
 * Description: Just one more amazing child-theme for Stargazer.
 *
 * Version:     0.1.3
 * Author:      Thiago Senna
 * Author URI:  http://thremes.com.br
 *
 * Template:            stargazer
 * Template Version:    1.2.1
 *
 * Tags: one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, left-sidebar, post-formats, responsive-layout, right-sidebar, rtl-language-support, theme-options, threaded-comments, translation-ready
 *
 * License:     GNU General Public License v2.0 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */
